.navbar-css {
  position: fixed;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  height: 70px;
  width: 100%;
  z-index: 1;
  color: white;
  transition: all 0.8s cubic-bezier(0.76, 0.49, 0.11, 1.11);
}

.navbar-css-background {
  position: fixed;
  color: black;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  height: 70px;
  width: 100%;
  z-index: 1;
  background-color: white;
  transition: all 0.8s cubic-bezier(0.76, 0.49, 0.11, 1.11);
}

.navbar-css .a-style {
  color: white;
}

.navbar-css-background .a-style {
  color: black;
}

.navbar-css-background .navbar-css-link {
  font-size: 30px;
  /* margin-left: 0; */
  text-decoration: none;
  color: black !important;
  transition: all 0.8s cubic-bezier(0.76, 0.49, 0.11, 1.11);
}

.navbar-css-background
  > .navbar-css-navlist
  > a.navbar-css-navlist.margin-left-0 {
  /* font-size: 30px; */
  /* margin-left: 0; */
  text-decoration: none;
  color: black !important;
  transition: all 0.8s cubic-bezier(0.76, 0.49, 0.11, 1.11);
}

.margin-left-0 {
  margin-left: 0px !important;
}
.navbar-css > a {
  font-size: 30px;
}
.navbar-css .navbar-css-navlist {
  color: white;
}

.a-style {
  margin-left: 15vw;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

ul > * {
  list-style: none;
}

.navbar-css-navlist {
  display: flex;
  align-items: center;
  margin-left: 35vw;
  gap: 2rem;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  margin-top: 18px;
}

.navbar-css-navlist li:hover {
  color: #ff7c00;
}

.navbar-css-social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 30px;
}
.navbar-css-social li:hover {
  color: #0442ac;
}

.navbar-css-background li:hover {
  color: #0442ac;
}

.navbar-css-link {
  color: white;
  text-decoration: none;
  /* margin-right: 20px; */
}

.navbar-css-link-active {
  color: white;
  text-decoration: none;
}
